body {
    color: white;
}
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-auto-flow: row;
    background-color: lightslategray;
}

.header {
    grid-row: 1;
    background-color: blueviolet;
    height: 80px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

.aside1 {
    grid-row: 2;
    background-color: darkcyan;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    height: 80px;
    padding-top: 10px;
}

.sub-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 90%;
    background-color: chartreuse;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.column {
    background-color: deeppink;
    text-align: center;
    font-size: 40px;
     font-family: Arial, Helvetica, sans-serif;
     margin: 40px;
     margin-left: 130px;
     border-radius: 20px;
     height: 100px;
     padding-top: 20px;
     width: 80%
}

.aside2 {
    background-color: mediumturquoise;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    height: 80px;
    padding-top: 10px;
}

.footer {
    background-color: orange;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    height: 80px;
    padding-top: 10px;
}





